﻿@model List<eShopSolution.ViewModels.Catalog.Categories.CategoryVm>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{ var culture = CultureInfo.CurrentCulture.Name; }
<div id="sidebar" class="span3">
    @*<div class="well well-small">
            <a id="myCart" href="/@culture/cart">
                <img src="/themes/images/ico-cart.png" alt="cart">3 Items in your cart
                <span class="badge badge-warning pull-right">$155.00</span>
            </a>
        </div>*@
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        @{ var parents = Model.Where(x => x.ParentId == null); }
        @for (int index = 0; index < parents.Count(); index++)
        {
            var parent = parents.ElementAt(index);
            var children = Model.Where(x => x.ParentId == parent.Id);
            if (children.Any())
            {
<li class="subMenu open">
    <a> @parent.Name</a>
    <ul>
        @foreach (var item in children)
        {
<li><a class="active" href="/@culture/@_loc["categoryUrl"]/@item.Id"><i class="icon-chevron-right"></i>@item.Name </a></li>
}
    </ul>
</li>
 }
else
{
<li><a href="/@culture/@_loc["categoryUrl"]/@parent.Id">@parent.Name</a></li>
}
}
    </ul>
    <br />
    @*<div class="thumbnail">
            <img src="/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
            <div class="caption">
                <h5>Panasonic</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div><br />
        <div class="thumbnail">
            <img src="/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
            <div class="caption">
                <h5>Kindle</h5>
                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
            </div>
        </div><br />
        <div class="thumbnail">
            <img src="/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
            <div class="caption">
                <h5>Payment Methods</h5>
            </div>
        </div>*@
</div>