﻿@model HomeViewModel
@using eShopSolution.ViewModels.Catalog.Products;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{ var culture = CultureInfo.CurrentCulture.Name; }
@{ ViewData["Title"] = "Trang chủ"; }
@section slider{
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                @for (int index = 0; index < Model.Slides.Count; index++)
                {
                    var slide = Model.Slides[index];
                <div class="item @(index == 0?"active":"")">
                    <div class="container">
                        <a href="@slide.Url"><img style="width:100%" src="@slide.Image" alt="@slide.Name" /></a>
                        <div class="carousel-caption">
                            <h4>@slide.Name</h4>
                            <p>@slide.Description</p>
                        </div>
                    </div>
                </div>          }
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
}

@*<div class="well well-small">
        <h4><localize>Featured Products</localize> <small class="pull-right">20+ sản phẩm đặc trưng</small></h4>
        <div class="row-fluid">
            <div id="featured" class="carousel slide">
                <div class="carousel-inner">
                    @{ List<List<ProductVm>> featuredProducts = new List<List<ProductVm>>();
                        List<ProductVm> featuredPart = new List<ProductVm>(); }

                    @for (int index = 0; index < Model.FeaturedProducts.Count; index++)
                    {
                        featuredPart.Add(Model.FeaturedProducts[index]);
                        if (featuredPart.Count == 4 || Model.FeaturedProducts.Count < 4)
                        {
                            featuredProducts.Add(featuredPart);
                            featuredPart = new List<ProductVm>();
                        }

                    }
                    @for (int index = 0; index < featuredProducts.Count; index++)
                    {
                    <div class="item @(index == 0?"active":"")">
                        <ul class="thumbnails">
                            @foreach (var item in featuredProducts[index])
                {
                    var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a href="@url"><img src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name"></a>
                                    <div class="caption">
                                        <h5>@item.Name</h5>
                                        <h4><a class="btn" href="" localize-content>VIEW</a> <span class="pull-right">@item.Price.ToString()</span></h4>
                                    </div>
                                </div>
                            </li>
    }
                        </ul>
                    </div>}
                </div>
                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
            </div>
        </div>
    </div>*@
<h4 localize-content>Latest Products</h4>
<ul class="thumbnails">
    @foreach (var item in Model.LatestProducts)
    {
        var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
    <li class="span3">
        <div class="thumbnail">
            <a href="@url"><img src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name" style="height:200px" /></a>
            <div class="caption">
                <h5>@item.Name</h5>
                <p>
                    @item.Description
                </p>

                <h4 style="text-align:center">
                    <a class="btn" href="@url">
                        <i class="icon-zoom-in"></i>
                    </a> <a class="btn btn-add-cart" data-id="@item.Id" href="#"><localize>Add to</localize> <i class="icon-shopping-cart"></i></a>
                    <a class="btn btn-primary" href="#">@item.Price</a>
                </h4>
            </div>
        </div>
    </li>
}
</ul>